{% extends "layout.html" %}
{% block content %}
<head>
	<meta http-equiv="refresh" content="15">
</head>
<h3>Welcome, {{ name }}!</h3>

<!-- Dashboard -->
<h4>Pick a server to edit:</h4>
<div class='grid-container'>
	{% for guild in existingguilds %}
	<div class='grid-item'>
		<a href="{{ url_for('manage', guildid=guild.id) }}" class="button">{{ guild.name|truncate(12, True) }}<br>
			<img src="{{ guild.icon_url }}" alt="">
		</a>
	</div>
	{% endfor %}
</div>

<h4>These servers don't have the bot installed yet! Click the button to add them, then when you've added RPICDB, reload the page!</h4>
<div class='grid-container'>
	{% for guild in newguilds %}
	<div class='grid-item'>
		<a href="{{ url_for('invite', guildid=guild.id) }}" target="_blank" class="button">{{ guild.name|truncate(12, True) }}<br>
			<img src="{{ guild.icon_url }}" alt="">
		</a>
	</div>
	{%endfor%}
</div>


{% endblock %}